<div class="diapo">
    <!-- Conteneur des "diapos" -->
    <div class="elements">
        <!-- Première diapo -->
        <div class="element active">
            <img src="{{ asset('images/slider1.jpeg') }}" alt="Image 1">
            <a href="">
                <div class="caption">
                    <h2>Devis en ligne Gratuit</h2>
                    <p>Cliquez ici pour avoir une simulation de devis !</p>
                </div>
            </a>
        </div>
        <!-- Deuxième diapo -->
        <div class="element">
            <img src="{{ asset('images/slider2.jpeg') }}" alt="Image 2">
            <a href="{{ path('app_event_index') }}">
                <div class="caption">
                    <h2>Mes Chantiers</h2>
                    <p>Cliquez ici pour avoir un aperçu de mes chantiers !</p>
                </div>
            </a>
        </div>
    </div>
    <!-- Flèches de navigation -->
    <i id="nav-gauche" class="chevron gauche"></i>
    <i id="nav-droite" class="chevron droite"></i>
</div>