*, ::before, ::after {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
}
.backgroung{
    max-width: 100%;
    height: auto;
    position: static;
    top: 0;
    left: 0;
}
.navbar {
    background-color: #161719;
    color: #fff;
    width: 100%;
    border-bottom: 1px solid #AAAAAA;
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 10;
}
.navbar a {
    text-decoration: none;
    color: #fff;
}
.navbar a.navbar-brand {
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 30px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}
.navbar a.navbar-brand span {
    color: #FFA500;
    font-size: 28px;
}
.navbar ul {
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 10px;
}
.navbar ul.nav{
    top: 0;
}
.navbar ul li {
    display: inline-block;
}
.navbar ul li a {
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 30px;
}
.navbar ul li a:hover {
    background-color: rgba(255,255,255,0.15);
}
.navbar ul li a.active {
    background-color: #FFA500;
}
.navbar .navbar-toggler {
    display: none;
}
.column{
    float: left;
    width: 33.33%;
}
.row{
    color: #AAAAAA;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.belowNavbar{
    padding-top: 200px;
    padding-bottom: 600px;
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
    width: 100%;
    border-top: 1px solid #AAAAAA;
    background: #161719;
    color: #AAA;
}
.contenu-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
    padding: 50px 0 100px;
}
.bloc {
    width: 25%;
    margin: 0 30px;
}
.footer-contact h3,
.footer-services h3,
.footer-horaires h3,
.footer-medias h3 {
    font-size: 25px;
    padding-bottom: 20px;
}

.footer-contact p {
    padding: 5px 0;
}
.liste-services,
.liste-horaires,
.liste-media {
    list-style-type: none;
}
.liste-services li {
    padding: 2px 0;
}
.liste-services a {
    text-decoration: none;
    color: #AAA;
}
.liste-services a:hover {
    color: #FFA500;
}
.liste-media {
    position: relative;
    right: 10px;
}
.liste-media img {
    width: 40px;
    margin: 10px 10px;
}
.liste-media a {
    text-decoration: none;
    color: #AAA;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.liste-media a:hover{
    color: #FFA500;
}







@media (max-width: 1300px) {
    .contenu-footer {
        width: 700px;
        flex-wrap: wrap;
    }
    .bloc {
        width: 40%;
        margin: 0 0;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 50px;
    }
    .navbar ul {
        padding: 0 10px;
    }
    .navbar ul li a {
        min-width: 100px;
        padding: 0 20px;
    }
}






@media (max-width: 800px) {
    .contenu-footer {
        width: 320px;
    }
    .bloc {
        width: 300px;
        margin: 30px 30px;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 30px;
    }
    .bloc:nth-child(1) {
        margin-top: 0;
    }
    .column{
        width: 100%;
    }
    .navbar {
        padding: 0;
    }
    .navbar ul {
        width: 100%;
        padding: 0;
        background-color: rgba(0,0,0,0.9);
        height: auto;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.3s;
    }
    .navbar ul.open {
        max-height: 100vh;
    }
    .navbar ul li {
        width: 100%;
        /* border-bottom: 1px solid rgba(255,255,255,0.3); */
    }
    .navbar ul li a {
        padding: 0;
    }
    .navbar .navbar-toggler {
        display: block;
        position: absolute;
        height: 40px;
        top: 20px;
        right: 20px;
        background-color: transparent;
        color: #fff;
        border: 3px solid #fff;
        /* border: none; */
        /* border-radius: 4px; */
        outline: none;
        padding: 0 5px;
        cursor: pointer;
    }
    .navbar .navbar-toggler span,
    .navbar .navbar-toggler span::before,
    .navbar .navbar-toggler span::after {
        display: block;
        content: '';
        background-color: #fff;
        height: 3px;
        width: 28px;
        border-radius: 4px;
        transition: all ease-in-out 0.3s;
    }
    .navbar .navbar-toggler span::before {
        transform: translateY(-8px);
    }
    .navbar .navbar-toggler span::after {
        transform: translateY(5px);
    }

    .navbar .navbar-toggler.open-navbar-toggler span {
        /* transform: rotate(90deg); */
        background-color: transparent;
        /* transform: scale(0.85) rotate(270deg); */
    }
    .navbar .navbar-toggler.open-navbar-toggler span::before {
        transform: translateY(0px) rotate(45deg);
        /* transform: translateY(0px) scale(0.75) rotate(45deg); */
    }
    .navbar .navbar-toggler.open-navbar-toggler span::after {
        transform: translateY(-3px) rotate(-45deg);
        /* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
    }
}


