{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
	<div class="belowNavbar">
		{% for user in user %}
			<p>{{app.user.pseudo}}</p>
			<p>{{app.user.nom}}</p>
			<p>{{app.user.adresse}}</p>
		{% endfor %}
		}
	</div>
{% endblock %}
