{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
	<p>667 ekip ekip ekip ekip ekip ekip ekip ekip SCUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUT</p>
{% endblock %}
